node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
/app/logs
metafile.*
version.txt

shopify.app.toml

.env
yarn.lock
